# Ignore data, analysis, logs, results, environments
data/**
analysis/**
logs/**
results/**
envs/**

# Ignore unused scripts
scripts/unused_scripts/**

# Ignore .here, .Rproj
.here
.Rproj.user
*.Rproj
.RData
.Rhistory
.env
